

#grid {

    display: flex;
    flex-wrap: wrap;
    max-width: 306px;
    border: solid;
}


.cell {
    border: 1px solid black;
    background: whitesmoke;
    min-width: 100px;
    min-height: 100px;
}

.cell:hover {
    background: seashell;
}

.active:hover {
    background: palevioletred;
}



.active {
    background: palevioletred;
}

.path {
    background: salmon;
}